* {
  box-sizing: border-box;
}
body {
  background-color: burlywood;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  width: 90%;
}

h1 {
  color: bisque;
  border: 1px solid blueviolet;
  border-radius: 5px;
  text-align: center;
}
h2 {
  color: green;
  font-size: 1.5rem;
  border: dotted;
}
.paragraph,
ul,
ol {
  font-size: 1.2rem;
  text-align: justify;
}
.paragraph1 {
  display: block;
  text-align: center;
}
h3 {
  font-weight: normal;
  color: rgb(28, 124, 148);
}
a {
  text-decoration: none;
  color: salmon;
}
figcaption {
  text-align: center;
}
.my_img,
.park_img,
.about_me_logo,
.me_2 {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
@media (min-width: 1024px) {
  body {
    width: 50%;
    margin: auto;
  }
  .my_img,
  .park_img,
  .me_2 {
    height: 400px;
  }
  h2,
  h3,
  .paragraph,
  footer {
    text-align: center;
  }
}
